<ion-header>
    <ion-toolbar class="bg-color">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Restablecer contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding-top">
   
    <div class="ion-padding">
      <app-auth-form #resetPasswordForm (formSubmitted)=resetPassword($event) [actionButtonText]="'Recuperar'"
      [isPasswordResetPage]="true"></app-auth-form>
    </div>
    <div class="ion-text-center">
      <img  src="https://i.pinimg.com/564x/50/c3/76/50c3760c4f9fd7df41c5d40e3a72b259.jpg">
    </div>
  </ion-content>