<ion-header>
  <ion-toolbar class="bg-color">
    <ion-title class="ion-text-center">Mascotas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="bg-color-button" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-center">
  <ion-card class="card" *ngFor="let item of mascotas">
    <ion-card-header class="margin">
      <ion-grid fixed class="grid-style ">
        <ion-row class="">
          <ion-col class="editar" size="8">
            <ion-label class="mascota">
              {{item.nombreMascota}}
            </ion-label>
          </ion-col>
          <ion-col size="4" >
              <ion-label class="edit">
              <ion-button class="boton" color="warning"  [routerLink]="['/edit-mascota', item.idMascota]">
                <ion-icon class="icon" name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-button class="boton" color="danger"  (click)="eliminarMascota(item.idMascota)">
                <ion-icon class="icon" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-body>
      <ion-grid fixed class="grid-style">
        <ion-row class="ion-text-center">
          <ion-col class="item-card" >
            <ion-label><b class="tipoInput">Tipo</b></ion-label>
            <ion-input type="text" readonly value="{{item.tipoMascota}}" class="tipoInput2"></ion-input>
          </ion-col>
          <ion-col class="item-card" >
            <ion-label ><b class="tipoInput">Edad({{item.tipoEdad}})</b></ion-label>
            <ion-input type="text" readonly value="{{item.edadMascota}}" class="tipoInput2"></ion-input>
          </ion-col>
          <ion-col class="item-card" >
            <ion-label ><b class="tipoInput">Peso(Kg)</b></ion-label>
            <ion-input type="text" readonly value="{{item.pesoMascota}}" class="tipoInput2"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-body>
  </ion-card>
</ion-content>