<ion-menu  side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar class="bg-color" color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="#">Registrar mascota</ion-item>
      <ion-item href="#">Solicitar cita</ion-item>
      <ion-item href="#">Citas</ion-item>
      <ion-item href="#">Mascotas</ion-item>
      <ion-item (click)="logOut()" href="#">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
