<ion-header>
  <ion-toolbar class="bg-color">
    <ion-title class="ion-text-center">Bienvenido</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        
      <ion-card-title>Veterinaria</ion-card-title>
      <ion-avatar slot="end">
        <img  src="https://i.ibb.co/6BD88wm/logo2.png">
      </ion-avatar>
    </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      Este es el recuadro de presentación de la veterinaria que contrata el servicio de gestión de pacientes.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Los Crisantemos 1936, colina</ion-label>
      <ion-button fill="outline" slot="end">Mapa</ion-button>
    </ion-item>
  
    <ion-card-content>
      Este es el recuadro de información del local fisico de la veterinaria que contrata el servicio de gestions de pacientes.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="cloud-outline" slot="start"></ion-icon>
      <ion-label>Pagina web de veterinaria</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="at-outline" slot="start"></ion-icon>
      <ion-label>Email de veterinaria</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>Numero 1 de veterinaria</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>Numero 2 de veterinaria</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
